/* need to pick our colorscheme*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #FFFBDE;
    color: #333;
  }
  
  header {
    background: #4682A9;
    color: #fff;
    padding: 1rem 0;
  }
  
  nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: lightblue;
    text-decoration: none;
  }

  nav h1{
    font-style: italics;
  }

  /* figure out if the buttons should have class or not, or the style of buttons apply to everything (e.g. project-buttom)*/
  button{
    background-color:lightgray;
    padding: 0.5rem;
    border-radius: 12px;

  }

  button:hover{
    background-color:lightblue;
    padding: 0.5rem;
  }
  
  section {
    max-width: 800px; /*for the width of everything*/
    margin: 2rem auto;
    padding: 0 1rem;
  }

  #hero h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #hero p {
    margin-bottom: 1rem;
  }

  #hero button {
    margin-top: 1rem;
  }
  
  .hero-pic {
    float: right; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 2rem;  /* space between text and image */
  }

  #hero::after {
    content: "";
    display: block;
    clear: both;
  }
  
  #about ul {
    margin-left: 2rem;
    margin-top: 1rem;
  }

  #about li {
    margin-bottom: 0.5rem; /* adds spacing between items */
  }

  .project-grid {
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .project-card {
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    background: white;
  }

  .project-card p{
    padding:1rem;
  }
  
  footer {
    background: #4682A9;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  