/* need to pick our colorscheme*/

* {
    box-sizing: border-box;
    margin: 0;
    /* width: 800px; */
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
  }
  
  nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: lightblue;
    text-decoration: none;
  }

  /* figure out if the buttons should have class or not, or the style of buttons apply to everything (e.g. project-buttom)*/
  button{
    background-color:lightgray;
    padding: 0.5rem;
    border-radius: 12px;
  }

  button:hover{
    background-color:lightskyblue;
    padding: 0.5rem;
  }
  
  section {
    max-width: 1100px; /*for the width of everything*/
    margin: 2rem auto;
    padding: 0 1rem;
    background-color: coral;
  }

  /* to check the section */
  section h2{
    /* padding: 0.5rem; */
    background-color: yellow;
  }
  
  #hero {
    background: #e0f7fa;
    padding: 4rem 1rem;
    text-align: center;
  }

  #hero img{
    object-fit: cover;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .project-card {
    background: #fff;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
  }

  .project-card p{
    padding:1rem;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  